body {
  background-color: #212b36;
  color: #FFF;
  font-size: 20px;
}

h1 {
  color: #FFF;
}

nav {
  display: flex;
  background-color: rgb(112, 149, 164);
  border-radius: 6px;
  margin-bottom: 20px;
}

.link-btn {
  padding: 6px 10px;
  margin: 10px 10px;
  border-radius: 6px;
  color: black;
  background-color: #bce2e5;
}

.link-btn:hover {
  background-color: #eefeff;
}

.btn {
  padding: 8px 24px;
  border-radius: 6px;
  color: black;
  background-color: #c2eebe;
}

.btn:hover {
  background-color: #e7fddf;
}

/* input, select {
  color: #FFF;
  background-color: #0c1014;
} */

tr:nth-child(even) {
  background-color: #0c1014 !important;
}

/* POST */
button[type="submit"] {
  color: #FFF;
  margin-top: 10px;
  background-color: #0c1014;
}

button[type="submit"]:hover {
  margin-top: 10px;
  background-color: #3e5164;
}

.feedback {
  color: black;
  margin: 20px 0;
  background-color: #bce2e5;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
}
