<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>SRR</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
        </nav>
    </header>
    <h1>About SSR</h1>
</body>

</html>