h1 {
  font-size: 3rem;
  color: cadetblue;
}

img {
  max-width: 100%;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background-color: LightSteelBlue;
  border-radius: 5px;
  padding: 10px;
}

nav {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.keys {
  font-weight: bold;
}
