h1 {
  font-size: 3rem;
  color: cadetblue;
}

img {
  max-width: 100%;
}

.cards,
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: LightSteelBlue;
  border-radius: 5px;
  padding: 10px;
}

.post {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
  flex: 0 1 20%;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.nav-link.active {
  font-weight: bold;
}

.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.book {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #000;
  margin: 1rem;
  box-shadow: 5px 5px 10px gray;
}

.feedback {
  position: fixed;
  min-width: 50%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px gray;
}

.feedback.error {
  border-color: tomato;
  background-color: rgb(254, 209, 201);
  box-shadow: 3px 3px 10px rgb(254, 209, 201);
}

.feedback.success {
  border-color: green;
  background-color: rgb(202, 228, 202);
  box-shadow: 3px 3px 10px rgb(96, 133, 96);
}