h1 {
  font-size: 3rem;
  color: cadetblue;
}

img {
  max-width: 100%;
}

.cards,
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: LightSteelBlue;
  border-radius: 5px;
  padding: 10px;
}

.post {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
  flex: 0 1 20%;
}

nav {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.nav-link.active {
  font-weight: bold;
}
