:root {
  /* Colors */
  --dark1: #34353b;
  --dark2: #9fafbc;
  --light1: #ffffff;
  --light2: #edf2f6;
  --light3: #d3dce4;
  --accent1: #677dea;
  --accent1d: #4f5fae;
  --accent2: #f26665;
  --accent2d: #eb4141;
  --accent3: #fae4e9;
  --accent3d: #f7d9e0;
  --accent4: #ee8a3b;
}
