:root {
  /* Colors */
  --dark1: #34353b;
  --dark2: #9fafbc;
  --light1: #ffffff;
  --light2: #edf2f6;
  --accent1: #677dea;
  --accent1d: #4f5fae;
  --accent2: #f26665;
  --accent3: #fae4e9;
  --accent4: #ee8a3b;
}
